{% load staticfiles %}

<!DOCTYPE html>

<html lang="en" ng-app="mainApp">
    <head>
        <meta charset="utf-8">
        <title>HUB - Fila</title>
        <meta name="viewport" content="device-width, initial-scale=1.0">

        <!-- build:css styles/vendor.css -->
            <!-- injector:bowercss -->
            <link rel="stylesheet" href="/static/lib/bootstrap-css-only/css/bootstrap.css">
            <!-- endinjector -->
        <!-- endbuild -->

        <!-- build:css styles/custom.css -->
            <!-- injector:css -->
            <!-- endinjector -->
        <!-- endbuild -->
    </head>
    <body ng-controller="homeCtrl">

        <div class="header">
            {% include "Ground/header.html" %}
        </div>

        <div class="container-fluid">
            {% block content %}{% endblock %}
        </div>

        <div class="footer">
            {% include "Ground/footer.html" %}
        </div>

        <!-- build:js scripts/vendor.js -->
            <!-- injector:bowerjs -->
            <script src="/static/lib/angular/angular.js"></script>
            <script src="/static/lib/angular-route/angular-route.js"></script>
            <script src="/static/lib/json2/json2.js"></script>
            <script src="/static/lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>
            <script src="/static/lib/angular-sanitize/angular-sanitize.js"></script>
            <script src="/static/lib/angular-animate/angular-animate.js"></script>
            <!-- endinjector -->
        <!-- endbuild -->

        <!-- build:js scripts/custom.js -->
            <!-- injector:js -->
            <script src="/static/app.js"></script>
            <script src="/static/controllers/homeCtrl.js"></script>
            <!-- endinjector -->
        <!-- endbuild -->
    </body>
</html>
